<!-- list.html -->
{{ define "main" }}
  <div class="container my-4">
    <h1 class="display-4">{{ .Title }}</h1>
    <div class="content">
      {{ .Content }}
    </div>
    <div class="row mt-4">
      {{ range .Pages }}
        <div class="col-md-4 mb-3">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title"><a href="{{ .RelPermalink }}" class="stretched-link">{{ .Title }}</a></h2>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}