<!-- mgallery.html -->
<div class="container my-4">
    <div class="row">
      {{ range .Params.images }}
        <div class="col-md-4 mb-3">
          <div class="card">
            <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal{{ .name }}">
              <img src="{{ .thumbnail }}" class="card-img-top img-fluid" alt="{{ .alt }}">
            </a>
            <div class="card-body">
              <p class="card-text">{{ .caption }}</p>
            </div>
          </div>
        </div>
  
        <!-- Bootstrap Modal for full-size image -->
        <div class="modal fade" id="imageModal{{ .name }}" tabindex="-1" aria-labelledby="imageModalLabel{{ .name }}" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel{{ .name }}">{{ .caption }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <img src="{{ .full }}" class="img-fluid" alt="{{ .alt }}">
              </div>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
  